# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/.gitignore
.idea/AOSP.iml
.idea/modules.xml
.idea/vcs.xml
.gitignore
README.md
_includes/
_layouts/
_posts/
css/
font-awesome-4.1.0/
fonts/
img/
index.html
js/
docs/.gitignore
docs/README.md
docs/_includes/
docs/_layouts/
docs/_posts/
docs/css/
docs/font-awesome-4.1.0/
docs/fonts/
docs/img/
docs/index.html
docs/js/
